@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
    --card-1: #ffedd5;
    --card-2: #ede9fe;
    --card-3: #fce7f3;
    --card-4: #f0fdf4;
    --primary: #fdba74;
    --primary-foreground: #fb923c;
    --muted: 240 4.8% 95.9%;
    --accent: #93c5fd;
    --accent-foreground: #60a5fa;
    --destructive: #fca5a5;
    --destructive-foreground: #f87171;
    --border: #e5e7eb;
    --text: #171717;
    --hover: #f1f5f9;
    --hover-select: #e2e8f0;
    --disabled: #cbd5e1;
    --disabled-foreground: #94a3b8;
    --success: #dcfce7;
  }

  .dark {
    --background: #0d0b0b;
    --foreground: #1c1917;
    --card-1: #8a4e97;
    --card-2: #173f27;
    --card-3: #2c3039;
    --card-4: #006a71;
    --primary: #fb923c;
    --primary-foreground: #f97316;
    --secondary: 240 3.7% 15.9%;
    --accent: #60a5fa;
    --accent-foreground: #3b82f6;
    --destructive: #fca5a5;
    --destructive-foreground: #f87171;
    --border: #27272a;
    --text: #e5e7eb;
    --hover: #292524;
    --hover-select: #44403c;
    --disabled: #334155;
    --disabled-foreground: #1e293b;
    --success: #173f27;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  html {
    font-family: 'Inter';
  }
  body {
    color: var(--text);
  }
}

*::-webkit-scrollbar {
  display: none;
}
