.editMenu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  min-width: 100px;
  z-index: 10;
  padding: 15px;
  transition: opacity 0.8s ease;
  border-style: solid;
}

.edit-tags-container {
  padding: 0;
  margin: 0;
}

.delete-exercise {
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #d42c1d;
  font-weight: 600;
  transition: all 0.4s;
}

.delete-exercise:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.history-exercise {
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #000000;
  font-weight: 600;
  transition: all 0.4s;
}
.history-exercise:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.x-edit-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.x-edit {
  height: 10px;
  cursor: pointer;
}
