/* .editMenu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  min-width: 100px;
  z-index: 10;
  padding: 15px 10px 20px 10px;

  transition: opacity 0.8s ease;
  border-style: solid;
} */

.editMenu {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transition: 0.8s ease-out;
  z-index: 10;
}

.editMenu.open {
  opacity: 1;
  pointer-events: auto;
}

.edit-tags-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.history-exercise {
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #000000;
  font-weight: 400;
  transition: all 0.4s;
  border-bottom-style: solid;
  border-color: rgb(198, 198, 198);
  /* height: 20px; */
}

.history-exercise:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.delete-exercise {
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #000000;
  font-weight: 400;
  transition: all 0.4s;
  border-bottom-style: solid;
  border-color: rgb(198, 198, 198);
}

.delete-exercise:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.x-edit-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.x-edit {
  height: 10px;
  cursor: pointer;
}
