.history-container {
  border-radius: 3px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.history-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.history-close {
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.4s;
  color: #d42c1d;
  cursor: pointer;
}

.history-close:hover {
  filter: brightness(0.95);
  transition: all 0.2s;
}

.notblurred {
  filter: none;
}

.history-exercise-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: 600;
  font-size: 1.1rem;
}

.history-data-container {
  width: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgb(196, 197, 197);
}

.history-dayDate-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  color: rgb(16, 172, 224);
}

.history-setRepWeight-container {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr;
}

.history-set,
.history-rep,
.history-weight {
  font-weight: 500;
}

.history-weight {
  margin-left: 5rem;
}

.history-weight-data {
  margin-left: 5rem;
}

.delete-exercise {
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #d42c1d;
  font-weight: 600;
  transition: all 0.4s;
}

.delete-exercise:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.exercise-navbar {
  width: 100%;
  padding: 1rem 1rem 0.2rem 1rem;
  display: grid;
  margin-bottom: 0rem;
  grid-template-columns: 0.2fr 1.7fr 0.8fr 0.8fr 0.2fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.exercise-navbar-title {
  margin-bottom: 0.8rem;
}
