.exercise {
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: grid;
  margin-bottom: 0rem;
  grid-template-columns: 0.2fr 2.2fr 0.8fr 0.8fr 0.2fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.green {
  background-color: rgba(74, 228, 74, 0.3);
}

.delete-set {
  margin-bottom: 0;
  font-weight: 600;
  transition: all 0.4s;
  color: #d42c1d;
  cursor: pointer;
}

.delete-set:hover {
  filter: brightness(0.95);
  transition: all 0.2s;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.each-exercise {
  display: flex;
}

.exercise-forms {
  width: 4rem;
  font-size: small;
  padding: 0.5rem;
  background-color: var(--clr-grey-10);
  border: 0;
}

.previous {
  margin: 0;
}

.set {
  margin: 0;
}

.pr {
  position: absolute;
  left: 2.5rem;
  font-weight: 600;
  color: green;
}

.addSetBtn {
  width: 90%;
  border: 0;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.addSetBtn:hover {
  filter: brightness(0.95);
  transition: all 0.2s;
}
